:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.line-clamp {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.edit-btn:hover {
  opacity: .75;
  transition: .2s all;

}

.post-image {
  max-width: 100%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.grid-item {
  /* Other styles */
  /* overflow: auto; */
}

.grid-item-view {
  /* Other styles */
  /* overflow: auto; */
}